data/scheinfirmen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="scheinfirmen">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scheinfirma" type="ScheinfirmaType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="stand"   type="xs:date"            use="required"/>
      <xs:attribute name="zeit"    type="xs:time"            use="required"/>
      <xs:attribute name="quelle"  type="xs:anyURI"          use="required"/>
      <xs:attribute name="anzahl"  type="xs:positiveInteger" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ScheinfirmaType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="anschrift"      type="xs:string" use="required"/>
        <xs:attribute name="veroeffentlicht"      type="xs:date"   use="required"/>
        <xs:attribute name="rechtskraeftig" type="xs:date"   use="required"/>
        <xs:attribute name="seit"           type="xs:date"/>
        <xs:attribute name="geburtsdatum"   type="xs:date"/>
        <xs:attribute name="fbnr"           type="xs:string"/>
        <xs:attribute name="uid"            type="xs:string"/>
        <xs:attribute name="kennziffer"     type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
